.popup__okregistr {
  background: url(../../../images/okrRegistr.svg) no-repeat;
  border: none;
  width: 120px;
  height: 120px;
  border-radius: 50;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 40px;
  transform: translate(100%);
}

@media screen and (max-width: 530px) {
  .popup__okregistr {
    width: 282px;
    padding: 25px 22px;
    transform: translate(23%);
  }
}