.profile__profession {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #FFFFFF;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 210px;
  padding: 0;
}

@media screen and (max-width: 584px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
    box-sizing: border-box;
    padding-left: 18px;
    max-width: 210px;
  }
}