.element__reset-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 18px;
  height: 19px;
  background: url(../../../images/Trash.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
 display: none;
}

.element__reset-btn:hover{
  opacity: 0.6;
}

.show{
  display: block;
}