.popup-delete__submit{
  width: 358px;
  margin-top: 38px;
}
@media screen and (max-width: 530px) {
  .popup-delete__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    
    padding: 14px 82px;
  }
}